$color-red-lightest: #FF8D80;
$color-red-lighter: #FF5F4D;
$color-red: #FF311A;
$color-red-darker: #C02D1D;
$color-red-darkest: #80241A;
$color-orange-lightest: #FFCD80;
$color-orange-lighter: #FFB84D;
$color-orange: #FFA41A;
$color-orange-darker: #C07F1D;
$color-orange-darkest: #80571A;
$color-yellow-lightest: #F3FF80;
$color-yellow-lighter: #EEFF4D;
$color-yellow: #E9FF1A;
$color-yellow-darker: #B0C01D;
$color-yellow-darkest: #76801A;
$color-chartreuse-lightest: #B3FF80;
$color-chartreuse-lighter: #94FF4D;
$color-chartreuse: #76FF1A;
$color-chartreuse-darker: #5EC01D;
$color-chartreuse-darkest: #43801A;
$color-green-lightest: #80FF8D;
$color-green-lighter: #4DFF5F;
$color-green: #1AFF31;
$color-green-darker: #1DC02D;
$color-green-darkest: #1A8024;
$color-emerald-lightest: #80FFCD;
$color-emerald-lighter: #4DFFB8;
$color-emerald: #1AFFA4;
$color-emerald-darker: #1DC07F;
$color-emerald-darkest: #1A8057;
$color-cyan-lightest: #80F3FF;
$color-cyan-lighter: #4DEEFF;
$color-cyan: #1AE9FF;
$color-cyan-darker: #1DB0C0;
$color-cyan-darkest: #1A7680;
$color-azure-lightest: #80B3FF;
$color-azure-lighter: #4D94FF;
$color-azure: #1A76FF;
$color-azure-darker: #1D5EC0;
$color-azure-darkest: #1A4380;
$color-blue-lightest: #8D80FF;
$color-blue-lighter: #5F4DFF;
$color-blue: #311AFF;
$color-blue-darker: #2D1DC0;
$color-blue-darkest: #241A80;
$color-violet-lightest: #CD80FF;
$color-violet-lighter: #B84DFF;
$color-violet: #A41AFF;
$color-violet-darker: #7F1DC0;
$color-violet-darkest: #571A80;
$color-magenta-lightest: #FF80F3;
$color-magenta-lighter: #FF4DEE;
$color-magenta: #FF1AE9;
$color-magenta-darker: #C01DB0;
$color-magenta-darkest: #801A76;
$color-rose-lightest: #FF80B3;
$color-rose-lighter: #FF4D94;
$color-rose: #FF1A76;
$color-rose-darker: #C01D5E;
$color-rose-darkest: #801A43;
$color-white-lightest: #E6E6E6;
$color-white-lighter: #CDCDCD;
$color-white: #B3B3B3;
$color-white-darker: #9A9A9A;
$color-white-darkest: #808080;
$color-black-lightest: #808080;
$color-black-lighter: #666666;
$color-black: #4D4D4D;
$color-black-darker: #333333;
$color-black-darkest: #1A1A1A;