@import "./layouts";

html {
	@import "./themes";

	* {
		margin: 0;
		padding: 0;
	}

	// font-size: var(--text-size-medium);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--color-flair);

		margin-bottom: var(--gap-small);
	}

	h1 {
		margin-top: var(--gap-large);

		font-size: var(--text-size-large);
	}

	h2 {
		margin-top: var(--gap-medium);

		font-size: var(--text-size-medium);
	}

	h3 {
		margin-top: var(--gap-small);

		font-size: var(--text-size-small);
	}

	a {
		color: var(--color-highlight);
		text-decoration: none;
		font-weight: bold;
	}

	p {
		margin: var(--gap-small) 0;
	}

	pre.highlight {
		padding: var(--gap-small);

		background: var(--surface-color);

		font-size: var(--text-size-small);
	}

	ul {
		list-style-type: "> ";

		color: var(--color-flair);

		li {
			margin: var(--gap-small);

			font-style: italic;
		}
	}

	.terminal {
		.line {
			&>* {
				display: inline-block;

				margin: 0;
				padding: 0;
			}

			@keyframes blink {
				0% {
					opacity: 1;
				}

				50% {
					opacity: 0;
				}

				100% {
					opacity: 1;
				}
			}

			.input-marker {
				animation: blink 1s infinite;
			}
		}
	}
}