$red-lightest: #FF8D80;
$red-lighter: #FF5F4D;
$red: #FF311A;
$red-darker: #C02D1D;
$red-darkest: #80241A;
$orange-lightest: #FFCD80;
$orange-lighter: #FFB84D;
$orange: #FFA41A;
$orange-darker: #C07F1D;
$orange-darkest: #80571A;
$yellow-lightest: #F3FF80;
$yellow-lighter: #EEFF4D;
$yellow: #E9FF1A;
$yellow-darker: #B0C01D;
$yellow-darkest: #76801A;
$chartreuse-lightest: #B3FF80;
$chartreuse-lighter: #94FF4D;
$chartreuse: #76FF1A;
$chartreuse-darker: #5EC01D;
$chartreuse-darkest: #43801A;
$green-lightest: #80FF8D;
$green-lighter: #4DFF5F;
$green: #1AFF31;
$green-darker: #1DC02D;
$green-darkest: #1A8024;
$emerald-lightest: #80FFCD;
$emerald-lighter: #4DFFB8;
$emerald: #1AFFA4;
$emerald-darker: #1DC07F;
$emerald-darkest: #1A8057;
$cyan-lightest: #80F3FF;
$cyan-lighter: #4DEEFF;
$cyan: #1AE9FF;
$cyan-darker: #1DB0C0;
$cyan-darkest: #1A7680;
$azure-lightest: #80B3FF;
$azure-lighter: #4D94FF;
$azure: #1A76FF;
$azure-darker: #1D5EC0;
$azure-darkest: #1A4380;
$blue-lightest: #8D80FF;
$blue-lighter: #5F4DFF;
$blue: #311AFF;
$blue-darker: #2D1DC0;
$blue-darkest: #241A80;
$violet-lightest: #CD80FF;
$violet-lighter: #B84DFF;
$violet: #A41AFF;
$violet-darker: #7F1DC0;
$violet-darkest: #571A80;
$magenta-lightest: #FF80F3;
$magenta-lighter: #FF4DEE;
$magenta: #FF1AE9;
$magenta-darker: #C01DB0;
$magenta-darkest: #801A76;
$rose-lightest: #FF80B3;
$rose-lighter: #FF4D94;
$rose: #FF1A76;
$rose-darker: #C01D5E;
$rose-darkest: #801A43;
$white-lightest: #E6E6E6;
$white-lighter: #CDCDCD;
$white: #B3B3B3;
$white-darker: #9A9A9A;
$white-darkest: #808080;
$black-lightest: #808080;
$black-lighter: #666666;
$black: #4D4D4D;
$black-darker: #333333;
$black-darkest: #1A1A1A;